.sh1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sh2 {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgb(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.title_1 {
    text-align: center;
    padding-top: 8px;
}

.title_2 {
    text-align: center;
    border-radius: 10px;
   margin-bottom: 30px;
    padding: 6px;
    margin-left: 250px;
    margin-right: 250px;
   
}

.title_3 {
     text-align: center;
    border-radius: 10px;
    background: whitesmoke;
    padding: 6px;
   
    color: #006600;

}



@media only screen and (max-width: 768px) {
    .search {
        margin-bottom: 6px;
       }

       .donate {
        margin-bottom:10px;
        margin-top: 10px;
       }

       .title_2 {
        margin-left: 148px;
        margin-right: 148px;

       }

       .title_3 {
        margin-left: 150px;
        margin-right: 150px;
       }

       .t {
        font-size: 14px;
       }


}